<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto grid max-w-2xl grid-cols-1 items-start gap-x-8 gap-y-16 sm:gap-y-24 lg:mx-0 lg:max-w-none lg:grid-cols-1">
      <div class="text-base leading-7 text-gray-700 lg:max-w-2xl">
        <!-- add blog tags if provided -->
        <p class="text-base font-semibold leading-7 text-indigo-600">Java</p>
        <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">{{currentPost.title}}</h1>
        <div class="max-w-2xl">
          <p class="mt-6">{{currentPost.content}}</p>
        </div>
      </div>

      <hr class="my-6">

      <h4 class="font-bold text-xl">Comments</h4>
      <ul role="list" class="divide-y divide-gray-100" *ngFor="let comment of currentBlogPostComments">
        <li class="flex gap-x-4 py-5">
          <div class="flex-auto">
            <div class="flex items-baseline justify-between gap-x-4">
              <p class="text-sm font-semibold leading-6 text-gray-900 italic">{{comment.user.username}}</p>
            </div>
            <p class="mt-1 line-clamp-2 text-sm leading-6 text-gray-600">{{comment.text}}</p>
          </div>
        </li>
      </ul>

      <hr class="my-6">

      <form method="POST" class="space-y-6" (ngSubmit)="onSubmitComment()" #blogCommentForm="ngForm">
        <label for="comment" class="block text-sm font-medium leading-6 text-gray-900">Add your comment</label>
        <div class="mt-2">
          <textarea rows="4" name="comment" id="comment" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></textarea>
        </div>
        <button type="submit" class="mt-2 btn btn-primary">Submit Comment</button>
      </form>

      <div class="mt-10 flex">
        <a href="/" class="text-base font-semibold leading-7 text-indigo-600">Back to Blogs <span aria-hidden="true">&rarr;</span></a>
      </div>
    </div>
  </div>
</div>
